body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("/static/images/topo_map_2.jpeg");
  background-repeat: repeat;
  background-size: 20%;
}

@media only screen and (max-width: 980px) {
  /* Change the layout of the page for smaller screens */
  body {
    display: flex;
    flex-direction: column;
  }

  /* Adjust the width of the main content area */
  main {
    width: 100%;
    padding: 10;
  }

  /* Adjust font sizes and margins */
  h1 {
    font-size: 100px;
    margin-top: 0 px;
  }

  a {
    font-size: 50px;
    margin-bottom: 10px;
  }
  p {
    font-size: 50px;
    margin-bottom: 10px;
  }
  div {
    font-size: 50px;
    margin-bottom: 10px;
  }
}

.row-fix {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * 1);
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
}

.row-fix-2 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * 1);
  margin-right: auto;
  margin-left: auto;
}

.margin-left-fix {
  margin-left: 0.2 !important;
}

.button-radius {
  border-radius: 0.2rem;
}
