@media only screen and (max-width: 980px) {
  /* Change the layout of the page for smaller screens */
  body {
    display: flex;
    flex-direction: column;
  }

  /* Adjust the width of the main content area */
  main {
    width: 100%;
    padding: 10;
  }

  /* Adjust font sizes and margins */

  div {
    font-size: 50px;
    margin-bottom: 10px;
  }
}