body {
  background-image: url("/static/images/topo_map_2.jpeg");
  background-repeat: repeat;
  background-size: 40%;
      overflow: auto;
    height: 100%;
}

html {
    overflow: hidden;
    height: 100%;
}
