.sign_up_username {

}

.sign_up_password {

}

.sign_up_email {

}

.sign_up_submit {
	background: #B9DFFF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow: none;
	display: block;
    width: 200px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin: 120px auto 0;
    font-size: 20px; /* Adjust as needed */
    font-family: Arial, sans-serif;
}


.sign_up_submit:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow: none;
}

.signup_div {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  	border: 20px solid #000000;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(to bottom, #87CEFA, white);
    background-attachment: fixed;

}

.sign_up_username, .sign_up_password, .sign_up_emaile {
  margin: 10px auto 0 50%;
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  width: 250px; /* Adjust as needed */
}

label {
  display: inline-block;
  margin-left: 200px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}


.sign_up_username + label,
.sign_up_password + label,
.sign_up_emaile + label {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}



