<html>
<head>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/web_icon.png') }}" type="image/png">
    {% if title %}
    <title>{{ title }} - Assasins</title>
    {% else %}
    <title>Senior Assasins</title>
    {% endif %}
</head>
<body>

 {% if 'True' in session['login'] %}
  <div style="color: white;" >
    Assasins-Web:
    <a href="/index">Home</a>
    <a href="/logout">Log Out</a>
</div>
<hr>
    {% else %}
 <div style="color: white;" >
    Assasins-Web:
    <a href="/index">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">SignUp</a>
    <a href="/logout">Log Out</a>
</div>
<hr>
    {% endif %}


{% block content %}{% endblock %}
</body>
</html>