{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

<!-- Begin Page Content -->
<link rel="stylesheet" href="/static/css/login_bootstrap.css">
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
<!-- Include background CSS -->
<link rel="stylesheet" href="/static/css/pattern_background.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    {% if 'True' in session['login'] %}
<section>
  <div class="container border_replacement h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card_replacement rounded-5-replacement text-black">
          <div class="row g-0">
            <div class="container-fluid">
              <!-- Page Heading -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mt-3 ml-3 text-gray-800">Cards</h1>
              </div>
              <div class="row-fix">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body margin-fix">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> Total Teams Playing</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">3 ---- 3</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Earnings (Annual) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body margin-fix">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Teams Eliminated</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">1/3</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tasks Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body margin-fix">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1"> Earnings (Annual)</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body margin-fix">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"> Pending Requests</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-fix">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                      <div class="card-body">Team Name - {{ session['team_name'] }}</div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4"> {% if 'Alive' in session['teammate_health'] %} <div class="card bg-success text-white shadow">
                      <div class="card-body">Teammate - {{ session['teammate_name'] }}</div>
                    </div> {% elif 'Dead' in session['teammate_health'] %} <div class="card bg-danger text-white shadow">
                      <div class="card-body">Teammate - {{ session['teammate_name'] }}</div>
                    </div> {% endif %} </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                      <div class="card-body">Info</div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                      <div class="card-body">Warning</div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                      <div class="card-body">Danger</div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-secondary text-white shadow">
                      <div class="card-body">Secondary</div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-light text-black shadow">
                      <div class="card-body">Light</div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-dark text-white shadow">
                      <div class="card-body">Dark</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    {% else %}


<div style="color: white;">
    {% if 'True' in session['login'] %}
      <h1>Welcome, {{ session['username'] }}!</h1>
        <h2>Your team name is {{ session['team_name'] }}</h2>
        <h3>You are hunting Team {{ session['target_team_name'] }}</h3>
        <body>Members: {{ session['target_user_name_1'] }} and {{ session['target_user_name_2'] }} </body>
    {% else %}
      <h1>Welcome!</h1>
      <p>Please sign in to access your account.</p>
    {% endif %}
</div>

    {% endif %}
{% endblock %}