{% extends "base.html" %}

{% block content %}

    <script src="{{url_for('static', filename='login_functions.js')}}"></script>
    <script src="{{url_for('static', filename='JQ.js')}}"></script>
    <link rel="stylesheet" href="/static/css/login.css">

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <h1>Welcome to Login!</h1>
    <div class="login_div">
        <form id="login-form" >
          <label for="username" >Username:</label>
          <input class="login_username" type="text" id="username" name="username" placeholder="Enter Username"><br>

          <label for="password" >Password:</label>
          <input class="login_password" type="password" id="password" name="password" placeholder="Enter Password"><br>

          <button type="button" onclick="sendData()" class="login_submit">Log in</button>



        </form>
    </div>




{% endblock %}