{% extends "base.html" %}
{% block content %}
    

    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/web_icon.png" type="image/png">

    <title>Senior Assasins</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="”stylesheet”" href="”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.css" rel="stylesheet">

<script src="/static/login_functions.js"></script>
<script src="/static/JQ.js"></script>

<!--Include custom CSS-->
<link rel="stylesheet" href="/static/css/login_bootstrap.css">
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
<!-- Include background CSS -->
<link rel="stylesheet" href="/static/css/pattern_background.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>


<section>
  <div class="container border_replacement h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card_replacement rounded-5-replacement text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  
                  <h4 class="mt-1 mb-5 pb-1">Senior Assasins Official Rule Book</h4>
                </div>
              </div>
              <div class="text-center" >
                   <img src="/static/images/web_icon.png"
                    style="width: 185px;" alt="logo">
              </div>
                <br>
              <div class="text-center" >
                  <img src="/static/images/web_icon.png"
                    style="width: 185px;" alt="logo" class="flip_im">
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h3 class="mb-4">Official Rules</h3>
                <h5>What is Senior Assasins?</h5>
                <p class="small mb-0">Senior Assassins is a game played by high school seniors where participants
                    attempt to "eliminate" each other from the game through various means.
                    The game can be an exciting way to build camaraderie and add some excitement to the final
                    days of senior year, but it is important that all participants understand and follow the rules to
                    ensure the safety and fair play of all involved.</p>
                <br>
                <h5>Eligibility</h5>
                <p class="small mb-0">Only high school seniors are eligible to participate in Senior Assassins.
                    All participants must sign a consent form agreeing to abide by the rules of the game.</p>
                <br>
                <h5>Gameplay</h5>
                <p class="small mb-0">Each participant is assigned a target to "eliminate" by shooting them with a
                    water gun or by placing a sticker on them. Once a participant eliminates their target,
                    they inherit their target's target and the game continues until there is only one player left.</p>
                <br>
                <h5>Safety</h5>
                <p class="small mb-0">Participants should not engage in any behavior that could result in physical
                    harm or damage to property. Participants should also not engage in any behavior that could be
                    perceived as threatening or intimidating.</p>
                <br>
                <h5>Restricted areas</h5>
                <p class="small mb-0">Certain areas may be designated as off-limits, such as school grounds or private
                    property. Participants should not enter these areas to pursue their target.</p>
                <br>
                <h5>Time restrictions</h5>
                <p class="small mb-0">The game may be limited to certain hours of the day or certain days of the week.
                    Participants should not engage in gameplay outside of the designated times.</p>
                <br>
                <h5>Disqualification</h5>
                <p class="small mb-0">Participants who break the rules may be disqualified from the game.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}