<html>
<head>

    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="icon" href="{{ url_for('static', filename='images/web_icon.png') }}" type="image/png">
    <script src="{{url_for('static', filename='settings.js')}}"></script>
    <script src="{{url_for('static', filename='JQ.js')}}"></script>
    <link rel="stylesheet" href="/static/css/login_bootstrap.css">
    {% if title %}
    <title>{{ title }} - Assassins</title>
    {% else %}
    <title>Senior Assassins</title>
    {% endif %}
    <link href="static/css/fancy_stuff.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/pattern_background.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/settings.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');</style>

</head>
<body style="color: white; font-family: 'Ubuntu Mono', sans-serif;">

 {% if 'True' in session['login'] %}
  <div style="color: white;">
    Assasins-Web:
      <a href="/index">Home</a>
      <a href="/rules">Rules</a>
      <a href="/logout">Log Out</a>
</div>
<hr>
    {% else %}
 <div style="color: white;">
    Assasins-Web:
     <a href="/index">Home</a>
     <a href="/rules">Rules</a>
     <a href="/login">Login</a>
     <a href="/signup">SignUp</a>
</div>
<hr>
    {% endif %}

<section class="text-center">
    <style>input[type="text"], input[type="password"] {resize: both; overflow: hidden; width: 30%;}</style>
    <h1>User Settings</h1>
    <h3>Change any values you want, then click the save button at the bottom.</h3>

    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ session['username'] }}" autocomplete="on">
    </form>

    <form>
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" value="idkwhattoputhere" autocomplete="on">
    </form>

    <form>
        <label for="password2">Verify New Password:</label>
        <input type="password" id="password2" name="password2">
    </form>

    <form>
        <label for="team_name">Team Name:</label>
        <input type="text" id="team_name" name="team_name" value="{{ session['team_name'] }}" autocomplete="on">
    </form>

    <form>
        <label for="user_address">Address:</label>
        <input type="text" id="user_address" name="user_address" value="{{ session['player_address'] }}" autocomplete="on">
    </form>

    <button class="btn btn-primary gradient-custom-2 mb-4" onclick="sendData_basic()" type="button">Submit</button>

</section>

<script>
const inputs = document.querySelectorAll('input[type="text"], input[type="password"]');

inputs.forEach(input => {
  input.addEventListener('input', () => {
    input.classList.add('edited');
  });
});
</script>

</body>
</html>