<html>
<head>

    <link rel="icon" href="{{ url_for('static', filename='images/web_icon.png') }}" type="image/png">
    {% if title %}
    <title>{{ title }} - Assassins</title>
    {% else %}
    <title>Senior Assassins</title>
    {% endif %}

    <link rel="stylesheet" href="/static/css/pattern_background.css">

    <link rel="stylesheet" href="/static/css/navbar.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');</style>
</head>
<body style="color: white; font-family: 'Ubuntu Light', sans-serif;">

 {% if 'True' in session['login'] %}
  <div >
    Assasins-Web:
      <a href="/index">Home</a>
      <a href="/rules">Rules</a>
      <a href="/logout">Log Out</a>
</div>
<hr>
    {% else %}
 <div">
    Assasins-Web:
     <a href="/index">Home</a>
     <a href="/rules">Rules</a>
     <a href="/login">Login</a>
     <a href="/signup">SignUp</a>
</div>
<hr>
    {% endif %}

<h1>User Settings</h1>
 <h3>Change any values you want, then click the save button at the bottom.</h3>
<form>
    <label for="autofill-input">Username:</label>
    <input type="text" id="autofill-input" name="autofill-input" value="{{ session['username'] }}" autocomplete="on">

    <button type="submit">Submit</button>
</form>

<form>
    <label for="date-input">Date Input:</label>
    <input type="date" id="date-input" name="date-input">

    <button type="submit">Submit</button>
</form>

</body>
</html>