{% extends "base.html" %}

{% block content %}
    <script src="{{url_for('static', filename='signup.js')}}"></script>
    <script src="{{url_for('static', filename='JQ.js')}}"></script>

    <h1>Welcome to Login!</h1>

    <form id="login-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username", placeholder="please create username"><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password", placeholder="please create password"><br>

      <label for="password">Email:</label>
      <input type="text" id="email" name="email", placeholder="please add email"><br>

      <button type="button" onclick="sendData()">Log in</button>
    </form>


{% endblock %}