{% extends "base.html" %}

{% block content %}
    <script src="{{url_for('static', filename='signup.js')}}"></script>
    <script src="{{url_for('static', filename='JQ.js')}}"></script>
    <link rel="stylesheet" href="/static/css/signup.css">

    <h1>Welcome to SignUp!</h1>

    <div class="signup_div">

    <form id="login-form">
      <label for="username">Username:</label>
      <input class="sign_up_username" type="text" id="username" name="username", placeholder="please create username"><br>

      <label for="password">Password:</label>
      <input class="sign_up_password" type="password" id="password" name="password", placeholder="please create password"><br>

      <label for="password">Email:</label>
      <input class="sign_up_emaile" type="text" id="email" name="email", placeholder="please add email"><br>

      <button class="sign_up_submit" type="button" onclick="sendData()">SignUp</button>
    </form>

    </div>


{% endblock %}